    body {
        background-image: url(/public/images/toop.jpg);
    }
    
    .img-circle{
        border-radius: 20%;
    }
    .cshead{
        height: 75px;
        font-family: 'Bad Script', cursive;
        font-size: 50px;
        text-shadow: 2px 2px 5px rgb(58, 223, 129);
        text-align: center;
    }
    .some{
        font-family: 'Caveat', cursive;
        font-size: 25px;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        text-align: right;
    }
    .subtitle{
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
    }
    .butt{
        background-color: rgba(0, 255, 255, 0.397);
    }
    .ems{
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
